html {
  scroll-behavior: smooth;
}
.bg {
  background-color: #1E412F;
}
.card {
  background-color: rgba(0,0,0,0) !important;
  border: none !important;
  color: rgb(189, 186, 186);
  max-width: 66rem;
  margin:auto;
  padding: .2rem;
}

.card-container {
  background-color: #1E412F;
}


.card-img {
  padding: 2em;
  max-width: 18rem;
  color: grey;
}

.images-container {
  color: grey;
  background-color: #1E2431;
}

.card-header {
  color: #1E2431;
  background-color: rgba(0,0,0,0) !important;
  padding-top: 1cm;
}

.sep {
  padding-top: .2cm;
  padding-left: 4rem;
  padding-right: 4rem;
}


.text-center1 {
  color: rgb(213, 213, 213);
  background-color: #424D55;
  padding: 1.2rem;
  margin-left:auto;
  margin-right:auto;
  border-radius: 4px;
  width: 10em;
  height: 2em;
  font-size: 60px;
}

.title-card { 
  background-color: #1F2630;
  border-radius: 4px;
  padding-top: .3cm;
  padding-bottom: .3cm;
  font-size: 40px;
}

.card-body {
  background-color: #1F2630;
  color: rgb(189, 186, 186);
  padding: .3cm;
}

.card-text {
  padding: .3cm;
  color: rgb(189, 186, 186);
}
